@{
	Layout = "_Layout";
}

@using DocOffice.Models;

<h2>WARNING</h2>
<h4>This doctor took an oath to do no harm.  If you decide to delete their record, you will be harming them.  It's ironic.  In a sad way.</h4>

@using (Html.BeginForm())
{
	<p>Delete the record of @Model.Name</p>
	<input type="submit" label="Confirm">
}

<p>@Html.ActionLink("See All Patients", "Index", "Patients")</p>
<p>@Html.ActionLink("See All Doctors", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>